*{
    margin: 0px;
    padding: 0px;
}

body {
font-family: monospace;
}

header {
   height: 8vh;
   background-color: rgb(3, 83, 50);
   color: white;
}
main {
   background-color: rgb(238, 200, 150);
   color: white;
   height: 85vh;
   display: flex;
   flex-direction: column;
   margin-block: auto;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

hr{
   border:1px solid green;
}
 .GrupoComandos {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 15px;
    gap: 10px;
 }

 .cartãoComando {
    width: calc(25% - 20px);
    border:1px solid rgb(1, 61, 1);
    border-radius: 15px;
    padding: 10px 5px;
    transition:150ms;
    background-color: #7fc28a;
 }
 .cartãoComando:hover {
    background-color: #a8fcaf;
    scale:105%;
    transform:translateY(-5%) ;
 }
 footer {
   background-color: burlywood;
 }