* {
   margin: 0px;
   padding:0px;
}

.grupoComandos {
   display:flex;
   flex-direction: column;
   gap: 15px;
}

.cartãoComando {
   border:1px solid rgb(255, 30, 0);
   border-radius: 20px;
   width: 85vw;
   height: 20vh;
}

@media screen and (min-width:768px) {
   .grupoComandos {
      flex-direction: row;
      flex-wrap: wrap;
   }
}

.cartãoComando {
   border:1px solid rgb(255, 30, 0);
   border-radius: 20px;
   width: calc(25% - 15px);
   min-height: fit-content;
}